body {
    margin: 0 auto;
    padding: 0;
    width: auto;
    font-family: "Open Sans", sans-serif;
}

h1 {
    font-size: 0;
    visibility: hidden;
}

header, footer {
    color: white;
    background-color: #1a1b3d;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title, .subtitle, li, .button {
    text-transform: uppercase;
}

.title, .subtitle {
    color: #e7e7e7;
}

ol .list-athlets:nth-child(3n+3) p, ol .list-players:nth-child(3n+3) p {
    color: white;
}


ol .list-athlets:nth-child(3n):before {
    color: #0a0e34;
}

ol .list-players:nth-child(3n):before {
    color: #9173e6;
}

ol .list-athlets:nth-child(3n):before, ol .list-players:nth-child(3n):before {
    border-color: #efefef;
}


@media (min-width: 320px) and (max-width: 640px) {

    body {
        font-size: 5vw;
    }

    header {
        background: url("../images/football_767.jpg") center top;
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
        position: relative;
        z-index: 0;
    }

    header::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: #0a0e34;
        opacity: 0.9;
        z-index: -1;
    }


    header .logo {
        padding-top: 11%;
    }

    .surface-logo-text {
        fill: white;
        width: 8.3125rem;
    }

    header .title {
        min-width: 15.75rem;
        margin: 0 5.1%;
    }

    .line-header-up, .line-header-down {
        font-size: 1.75rem;
        font-weight: 800;
        letter-spacing: 0.05em;
        line-height: 1.2;
    }

    .line-header-up {
        margin-bottom: 6%;
        margin-top: 45%;
        display: block;
    }

    .line-header-down {
        margin-top: 0;
        margin-left: 18%;
        margin-bottom: 29%;
        display: block;
    }

    .button {
        padding-bottom: 26%;
        padding-left: 6%;
        padding-right: 6%;
    }

    .download {
        max-width: 17.5rem;
        text-decoration: none;
        color: inherit;
        text-transform: uppercase;
        font-size: 0.5rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        padding: 0.3125rem 0;
        background: #5e42b0;
        border-radius: 35px;
    }

    .download:first-child {
        margin-bottom: 0.875rem;
    }

    .download:hover, .download:focus {
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4), 0 10px 10px rgba(0, 0, 0, 0.4);
        cursor: pointer;
    }

    .apple-icon, .google-play-icon {
        fill: white;
        width: 1.5625rem;
    }

    .apple-icon {
        margin-top: -0.25rem;
        margin-bottom: 0.25rem;
    }

    .google-play-icon {
        margin-left: -1.7rem;
    }

    .button-text {
        font-weight: 400;
        letter-spacing: 0.05em;
        display: block;
        text-align: left;
        margin-left: 0.5rem;
        flex-shrink: 0;
    }

    .button-app {
        font-weight: 800;
        display: block;
    }

    .subtitle {
        font-size: 3.125rem;
        font-weight: 800;
    }

    .athlets, .players {
        margin-top: -3%;
        position: relative;
    }

    .athlets::before {
        position: absolute;
        top: 9%;
        left: 22%;
        content: "";
        background: url("../images/footballer_192.png");
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
    }

    .players::before {
        position: absolute;
        top: 9.5%;
        left: 3%;
        content: "";
        background: url("../images/basketballer_302.png");
        background-repeat: no-repeat;
        width: 100%;
        height: 140%;
    }

    .athlets .subtitle, .list-athlets, .players .subtitle, .list-players {
        padding-left: 5.5%;
        padding-right: 7%;
        min-width: 17.125rem;
    }

    ol {
        counter-reset: list;
        padding-left: 0;
        margin-bottom: 0;
        margin-top: 92%;
    }

    .list-athlets {
        padding-top: 2.3%;
        padding-bottom: 12%;
    }

    li {
        list-style-type: none;
        list-style-position: inside;
        color: #c1c1c1;
        font-size: 1.4375rem;
        font-weight: 800;
        letter-spacing: 0.05em;
        line-height: 1;
    }

    ol .list-athlets:nth-child(even) {
        background-color: #f6f4fa;
        padding-top: 18%;
        padding-bottom: 9%;
    }

    ol .list-athlets:nth-child(3n+3) {
        background-color: #5e42b0;
        padding-top: 18%;
        padding-bottom: 11.3%;
    }

    ol .list-players:first-child {
        padding-top: 2%;
        padding-bottom: 11.2%;
    }

    ol .list-players:nth-child(even) {
        background-color: #f5f6f7;
        padding-top: 18%;
        padding-bottom: 11.2%;
    }

    ol .list-players:nth-child(3n+3) {
        background-color: #0a0e34;
        padding-top: 18%;
        padding-bottom: 11.2%;
    }

    li:before {
        font-size: 0.875rem;
        font-weight: 800;
        letter-spacing: 0.05em;
        color: black;
        counter-increment: list;
        content: "0" counter(list) "";
        border-bottom: 0.313em solid #5e42b0;
        border-radius: 2px;
        vertical-align: top;
        margin-right: 2.5%;
    }

    li p {
        text-transform: none;
        color: black;
        font-size: 0.9375rem;
        font-weight: 400;
        letter-spacing: 0.05em;
        line-height: 1.3;
        padding-top: 2.2%;
    }

    .steps {
        position: relative;
    }

    .steps .subtitle {
        line-height: 1;
        font-size: 1.75rem;
        letter-spacing: 0.05em;
        margin-top: 2.3125rem;
        padding-bottom: 33%;
    }

    .column {
        width: 100%;
        box-sizing: border-box;
        padding-left: 6%;
        padding-right: 7%;
        padding-top: 14%;
    }

    .step-first-img {
        background: url("../images/be-active_640.jpg") #f5f6f7;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 0;
        padding-bottom: 109%;
    }

    .step-two-img {
        background: url("../images/find-contact_640.jpg") #f5f6f7;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 0;
        padding-bottom: 109%;
    }

    .step-three-img {
        background: url("../images/work-it_640.jpg") #f5f6f7;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 0;
        padding-bottom: 109%;
    }

    .steps-counter {
        position: absolute;
        left: 5.5%;
        bottom: 25%;
        background: #5e42b0;
        padding: 28px;
    }

    .steps-counter span {
        font-size: 0.875rem;
        font-weight: 800;
        letter-spacing: 0.05em;
        color: white;
        border-bottom: 0.313em solid #8f7bc8;
        border-radius: 2px;
    }

    .steps p {
        font-size: 1rem;
        letter-spacing: 0.05em;
        line-height: 1.2;
        color: black;
    }

    .steps .shrinked-padding {
        margin-bottom: 27%;
    }

    footer {
        background: url("../images/game_767.jpg") center top;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;
        z-index: 0;
    }

    footer::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: #0a0e34;
        opacity: 0.9;
        z-index: -1;
    }

    .box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 31%;
        padding-bottom: 24%;
    }

    .surface-logo {
        fill: white;
        width: 3.5625rem;
        border-radius: 15px;
        background: linear-gradient(to bottom, #7656d6, #51379b);
        padding: 0.6875rem 0.5rem;
    }

    footer .subtitle {
        margin-top: 16%;
    }

    .line-footer-up {
        font-size: 2rem;
        line-height: 1.2;
        display: block;
        letter-spacing: 0.05em;
    }

    .line-footer-down {
        font-size: 0.875rem;
        font-weight: 400;
        color: #a496ca;
        letter-spacing: 0.05em;
        text-align: center;
        display: block;
    }

    footer .button {
        padding-bottom: 25%;
    }

    footer .logo {
        padding-bottom: 3%;
    }
}

@media (min-width: 641px) and (max-width: 960px) {

    body {
        font-size: 2.08vw;
    }

    header {
        background: url("../images/football_1280.jpg") center top;
        background-repeat: no-repeat;
        background-position: top center;
        position: relative;
        z-index: 0;
    }

    header::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: #0a0e34;
        opacity: 0.9;
        z-index: -1;
    }

    header .logo {
        padding-top: 5%;
    }

    .surface-logo-text {
        fill: white;
        width: 13rem;
    }

    header .title {
        padding-left: 11%;
        padding-right: 10%;
    }

    .line-header-up, .line-header-down {
        font-size: 4rem;
        font-weight: 800;
        letter-spacing: 0.05em;
        line-height: 1.2;
    }

    .line-header-up {
        margin-bottom: 0;
        margin-top: 28%;
        display: block;
    }

    .line-header-down {
        margin-top: 0;
        margin-left: 18%;
        margin-bottom: 49%;
        display: block;
    }

    .button {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        padding-bottom: 12%;
    }

    .download {
        max-width: 19.4375rem;
        text-decoration: none;
        color: inherit;
        text-transform: uppercase;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        padding: 1rem 0;
        background: #5e42b0;
        border-radius: 35px;
    }

    .download:first-child {
        margin-right: 2.1875rem;
    }

    .download:hover, .download:focus {
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4), 0 10px 10px rgba(0, 0, 0, 0.4);
        cursor: pointer;
    }

    .apple-icon, .google-play-icon {
        fill: white;
        width: 2.8125rem;
        margin-left: -1.0625rem;
    }

    .google-play-icon {
        margin-left: -1.7rem;
    }

    .button-text {
        font-weight: 400;
        letter-spacing: 0.05em;
        display: block;
        text-align: left;
        margin-left: 1.4rem;
        flex-shrink: 0;
    }

    .button-app {
        font-weight: 800;
        display: block;
    }

    .subtitle {
        font-size: 5rem;
        font-weight: 800;
    }

    .athlets, .players {
        margin-top: 7.5%;
        position: relative;
    }

    .athlets::before {
        position: absolute;
        top: 5%;
        right: 21%;
        content: "";
        background: url("../images/footballer_497.png");
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
    }

    .players::before {
        position: absolute;
        top: -2.3%;
        left: 43%;
        content: "";
        background: url("../images/basketballer_436.png");
        background-repeat: no-repeat;
        width: 100%;
        height: 140%;
    }

    .athlets .subtitle, .list-athlets {
        padding-left: 38%;
        padding-right: 4%;
    }

    .players .subtitle, .list-players {
        padding-right: 43%;
        padding-left: 4%;
    }

    ol {
        counter-reset: list;
        padding-left: 0;
        margin-bottom: 0;
        margin-top: 2%;
    }

    .list-athlets {
        padding-top: 2.5%;
        padding-bottom: 5%;
    }


    li {
        list-style-type: none;
        list-style-position: inside;
        color: #c1c1c1;
        font-size: 2rem;
        font-weight: 800;
        letter-spacing: 0.05em;
        line-height: 1;
    }

    ol .list-athlets:nth-child(even) {
        background-color: #f6f4fa;
        padding-top: 2%;
        padding-bottom: 1.8%;
    }

    ol .list-athlets:nth-child(3n+3) {
        background-color: #5e42b0;
        padding-top: 5%;
        padding-bottom: 1.9%;
    }

    ol .list-players:first-child {
        padding-top: 2.8%;
        padding-bottom: 2%;
    }

    ol .list-players:nth-child(even) {
        background-color: #f5f6f7;
        padding-top: 5%;
        padding-bottom: 2.1%;
    }

    ol .list-players:nth-child(3n+3) {
        background-color: #0a0e34 ;
        padding-top: 5%;
        padding-bottom: 2.3%;
    }

    li:before {
        font-size: 1.125rem;
        font-weight: 800;
        letter-spacing: 0.05em;
        color: black;
        counter-increment: list;
        content: "0" counter(list) "";
        border-bottom: 0.313em solid #5e42b0;
        border-radius: 2px;
        vertical-align: top;
        margin-right: 2%;
    }

    li p {
        text-transform: none;
        color: black;
        font-size: 1rem;
        font-weight: 400;
        letter-spacing: 0.05em;
        line-height: 1.8;
        padding-top: 1.35%;
    }

    .steps {
        position: relative;
    }

    .steps .subtitle {
        line-height: 1;
    }

    .column {
        width: 100%;
        box-sizing: border-box;
        padding-top: 9.8%;
        padding-left: 4%;
        padding-right: 9%;
    }

    .step-first-img {
        background: url("../images/be-active_960.jpg") #f5f6f7;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 0;
        padding-bottom: 76%;
    }

    .step-two-img {
        background: url("../images/find-contact_960.jpg") #f5f6f7;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 0;
        padding-bottom: 76%;
    }

    .step-three-img {
        background: url("../images/work-it_960.jpg") #f5f6f7;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 0;
        padding-bottom: 76%;
    }

    .steps-counter {
        position: absolute;
        left: 4.5%;
        bottom: 25%;
        background: #5e42b0;
        padding: 4.2% 5.5% 5.7%;
    }

    .steps-counter span {
        font-size: 1.5rem;
        font-weight: 800;
        letter-spacing: 0.05em;
        color: white;
        border-bottom: 0.3125rem solid #8f7bc8;
        border-radius: 2px;
    }

    .steps p {
        font-size: 1.5rem;
        letter-spacing: 0.05em;
        line-height: 1.2;
        color: black;
        margin-bottom: 15.1%;
    }

    .steps .shrinked-padding {
        margin-bottom: 16%;
    }

    footer {
        background: url("../images/game_1280.jpg") center top;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;
        z-index: 0;
    }

    footer::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: #0a0e34;
        opacity: 0.9;
        z-index: -1;
    }

    .box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 16%;
        padding-bottom: 36%;
    }

    .surface-logo {
        fill: white;
        width: 6.25rem;
        border-radius: 30px;
        background: linear-gradient(to bottom, #7656d6, #51379b);
        padding: 1.4375rem 0.9375rem;
    }

    footer .subtitle {
        margin-top: 8%;
    }

    .line-footer-up {
        font-size: 5rem;
        line-height: 1.2;
        display: block;
        letter-spacing: 0.05em;
    }

    .line-footer-down {
        font-size: 2.25rem;
        font-weight: 400;
        color: #a496ca;
        text-align: center;
        display: block;
    }

    footer .button {
        padding-bottom: 7.5%;
    }

    footer .logo {
        padding-bottom: 3%;
    }
}

@media (min-width: 961px) and (max-width: 1920px) {
    body {
        font-size: 0.83vw;
    }


    header {
        background: url("../images/football_1920.jpg") center top;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;
        z-index: 0;
    }

    header::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: #0a0e34;
        opacity: 0.9;
        z-index: -1;
    }

    header .logo {
        padding-top: 2.4%;
    }

    .surface-logo-text {
        fill: white;
        width: 12rem;
    }

    header .title {
        padding: 0 9.7%;
    }

    .line-header-up, .line-header-down {
        font-size: 5.625rem;
        font-weight: 800;
        letter-spacing: 0.05em;
        line-height: 1;
    }

    .line-header-up {
        margin-bottom: 0;
        margin-top: 18%;
        display: block;
    }

    .line-header-down {
        text-align: right;
        margin-top: 0;
        margin-bottom: 14.1%;
        display: block;
    }

    .button {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        padding-bottom: 5.8%;
    }

    .download {
        max-width: 19.4375rem;
        text-decoration: none;
        color: inherit;
        text-transform: uppercase;
        font-size: 0.875rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        padding: 0.75rem 0;
        background: #5e42b0;
        border-radius: 35px;
    }

    .download:first-child {
        margin-right: 3.125rem;
    }

    .download:hover, .download:focus {
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4), 0 10px 10px rgba(0, 0, 0, 0.4);
        cursor: pointer;
    }

    .apple-icon, .google-play-icon {
        fill: white;
        width: 3.125rem;
        margin-left: -1.875rem;
    }

    .apple-icon {
        margin-top: -0.3125rem;
        margin-bottom: 0.3125rem;
    }

    .button-text {
        font-weight: 400;
        letter-spacing: 0.05em;
        display: block;
        text-align: left;
        margin-left: 1.25rem;
        flex-shrink: 0;
    }

    .button-app {
        font-weight: 800;
        display: block;
    }

    .subtitle {
        font-size: 5rem;
        font-weight: 800;
    }

    .athlets, .players {
        margin-top: 4.7%;
        position: relative;
    }

    .athlets::before {
        position: absolute;
        top: -3.75rem;
        left: 24.375rem;
        content: "";
        background: url("../images/footballer_566.png");
        background-repeat: no-repeat;
        width: 100%;
        height: 140%;
    }

    .players::before {
        position: absolute;
        top: -4.0625rem;
        left: 50.3125rem;
        content: "";
        background: url("../images/basketballer_991.png");
        background-repeat: no-repeat;
        width: 100%;
        height: 140%;
    }

    .athlets .subtitle, .list-athlets {
        padding-left: 52.5%;
        padding-right: 9.7%;
    }

    .players .subtitle, .list-players {
        padding-right: 51%;
        padding-left: 9.8%;
    }

    ol {
        counter-reset: list;
        padding-left: 0;
        margin-bottom: 0;
        margin-top: 2%;
    }

    .list-athlets {
        padding-top: 3.3%;
        padding-bottom: 1.8%;
    }


    li {
        list-style-type: none;
        list-style-position: inside;
        color: #c1c1c1;
        font-size: 2.25rem;
        font-weight: 800;
        letter-spacing: 0.05em;
        line-height: 0.5;
    }

    ol .list-athlets:first-child {
        padding-top: 2.5%;
    }

    ol .list-athlets:nth-child(even) {
        background-color: #f6f4fa;
    }

    ol .list-athlets:nth-child(3n+3) {
        background-color: #5e42b0;
    }

    ol .list-players:first-child {
        padding-top: 2.8%;
        padding-bottom: 1.7%;
    }

    ol .list-players:nth-child(even) {
        background-color: #f5f6f7;
        padding-top: 3.3%;
        padding-bottom: 3.7%;
    }

    ol .list-players:nth-child(3n+3) {
        background-color: #0a0e34 ;
        padding-top: 3.5%;
        padding-bottom: 1.7%;
    }

    ol .list-athlets:nth-child(3n+3) p, ol .list-players:nth-child(3n+3) p {
        color: white;
    }

    li:before {
        font-size: 1.125rem;
        font-weight: 800;
        letter-spacing: 0.05em;
        color: black;
        counter-increment: list;
        content: "0" counter(list) "";
        border-bottom: 0.313em solid #5e42b0;
        border-radius: 2px;
        vertical-align: top;
        margin-right: 1%;
    }

    ol .list-athlets:nth-child(3n):before {
        color: #0a0e34;
    }

    ol .list-players:nth-child(3n):before {
        color: #9173e6;
    }

    ol .list-athlets:nth-child(3n):before, ol .list-players:nth-child(3n):before {
        border-color: #efefef;
    }

    li p {
        text-transform: none;
        color: black;
        font-size: 1.25rem;
        font-weight: 400;
        letter-spacing: 0.05em;
        line-height: 1.4;
        padding-top: 1.35%;
    }

    .steps {
        display: flex;
        position: relative;
    }

    .steps:nth-child(odd) {
        flex-direction: row-reverse;
    }

    .column {
        width: 50%;
        box-sizing: border-box;
        padding-top: 12.1%;
        padding-left: 6.5%;
        padding-right: 10%;
    }

    .step-first-img {
        background: url("../images/be-active_1024.jpg") #f5f6f7;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 100% 50%;
    }

    .step-two-img {
        background: url("../images/find-contact_1024.jpg") #f5f6f7;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .step-three-img {
        background: url("../images/work-it_1024.jpg") #f5f6f7;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 100% 50%;
    }

    .steps-counter {
        position: absolute;
        left: 50%;
        top: 39.5%;
        transform: translate(-50%, -50%);
        background: #5e42b0;
        padding: 2.5% 3.6% 3.8%;
    }

    .steps-counter span {
        font-size: 1.5rem;
        font-weight: 800;
        letter-spacing: 0.05em;
        color: white;
        border-bottom: 0.3125rem solid #8f7bc8;
        border-radius: 2px;
    }

    .padding-reverse {
        padding-left: 10%;
        padding-right: 6.5%;
    }

    .steps p {
        font-size: 1.5rem;
        letter-spacing: 0.05em;
        line-height: 1.2;
        color: black;
        margin-top: 14%;
        margin-bottom: 37.5%;
    }

    .padding-reverse p {
        margin-top: 8%;
        margin-bottom: 44%;
    }

    .steps .shrinked-padding {
        margin-bottom: 33.1%;
    }

    footer {
        background: url("../images/game_1920.jpg") center top;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;
        z-index: 0;
    }

    footer::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: #0a0e34;
        opacity: 0.9;
        z-index: -1;
    }

    .box {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding-top: 12%;
        padding-bottom: 7.8%;
    }

    .surface-logo {
        fill: white;
        width: 6.25rem;
        border-radius: 30px;
        background: linear-gradient(to bottom, #7656d6, #51379b);
        padding: 1.4375rem 0.9375rem;
    }

    footer .subtitle {
        margin-left: 1.7%;
    }

    .line-footer-up {
        font-size: 5rem;
        line-height: 1;
        display: block;
        letter-spacing: 0.05em;
    }

    .line-footer-down {
        font-size: 1.875rem;
        font-weight: 400;
        color: #a496ca;
        display: block;
    }

    footer .button {
        padding-bottom: 13.7%;
    }

    footer .logo {
        padding-bottom: 3%;
    }
}

@media (min-width: 1920px) {

    body {
        font-size: 0.83vw;
    }

    header .title {
        max-width: 1920px;
    }


    .athlets, .players {
        max-width: 1920px;
    }


    .athlets .subtitle, .list-athlets, .players .subtitle, .list-players {
        max-width: 590px;
    }

    .column {
        max-width: 960px;
    }

    .box {
        max-width: 870px;
    }
}