html{
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
    color: #000;
}

body{
    margin: 0;
}

.container{
    max-width: 1530px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.site-header{
    background-color: #0a0e34;
    background-image: url('../images/header-bg.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    padding-top: 45px;
}

.site-header .container{
    display: flex;
    align-items: center;
    flex-direction: column;
}


.header-logo img,
.footer-logo img{
    width: 191px;
}

h1 {
    font-size: 0;
    visibility: hidden;
}

h2, h3, h4, h5, h6{
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
}

.site-title{
    padding-top: 19.28%;
    padding-bottom: 14.5%;
    font-size: 5.625rem;
    color: #fff;
    width: 100%;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
}

.site-title span{
    display: block;
    padding-left: 29.41%;
}

.header-cta{
    display: flex;
    margin-bottom: 7.18%;
}

.btn {
    padding: 1.75em 4.35em;
    font-size: 0.875rem;
    text-decoration: none;
    text-transform: uppercase;
    min-width: 310px;
    box-sizing: border-box;
}

.btn + .btn{
    margin-left: 50px;
}

.btn span{
    display: block;
    width: 100%;
    font-weight: bold;
}

.icon-left{
    padding-left: 7.42em;
}

.btn-oval{
    border-radius: 3em;
}

.btn-shadow{
    box-shadow: 0 16px 24px 0 #0a0e34;
}

.btn-shadow:hover{
    box-shadow: none;
}

.default-color{
    background-color: #5e42b0;
    color: #ffffff;
}

.apple-icon{
    background-image: url('../images/svg/apple_logo.svg');
    background-repeat: no-repeat;
    background-position: 12.58% 50%;
    background-size: 42px 48px;
}

.gplay-icon{
    background-image: url('../images/svg/google-play.svg');
    background-repeat: no-repeat;
    background-position: 18.38% 50%;
    background-size: 40px 50px;
}

main.main-content {
    overflow-x: hidden;
}

section.section-athlets{
    position: relative;
    z-index: 99;
}

section.section-athlets h2{
    font-size: 5rem;
    color: #e7e7e7;
    line-height: 3.75rem;
    padding-left: 50%;
    padding-top: 6.5625rem;
    margin-bottom: 2.25rem;
}

section.section-athlets figure{
    margin: 0;
}

section.section-athlets figure picture{
    z-index: 9;
    position: absolute;
    top: 0;
    right: 52.65625vw;
}

section.section-athlets figcaption {
    width: 100%;
}

section.section-athlets ul{
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    list-style: none;
}

section.section-athlets li {
    position: relative;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 50%;
}

section.section-athlets li:nth-child(2) {
    background-color: #f6f4fa;
    padding-top: 64px;
    padding-bottom: 64px;
}

section.section-athlets li:nth-child(3) {
    background-color: #5e42b0;
    padding-top: 91px;
    padding-bottom: 91px;
}

section.section-athlets li:nth-child(3) h3 span::before{
    background-color: #efefef;
}

section.section-athlets li:nth-child(3) p{
    color: #ffffff;
}

section.section-athlets li h3{
    position: relative;
    font-size: 2.25rem;
    line-height: 2.15rem;
    color: #c1c1c1;
    margin-bottom: 1.16rem;
    max-width: 720px;
}

section.section-athlets li h3 span{
    font-size: 1.125rem;
    color: #333333;
    margin-right: 13px;
    position: relative;
    bottom: 10px;
}

section.section-athlets li h3 span::before{
    position: absolute;
    background-color: #5e42b0;
    content: "";
    width: 100%;
    height: 5px;
    border-radius: 2px;
    bottom: -5px;
}

section.section-athlets li p{
    font-size: 1.25rem;
    margin: 0;
    max-width: 720px;
}

section.section-players {
    position: relative;
}

section.section-players h2{
    font-size: 5rem;
    color: #e7e7e7;
    line-height: 3.75rem;
    padding-left: 0;
    padding-top: 6.5625rem;
    margin-bottom: 2.25rem;
}

section.section-players figure{
    margin: 0;
    position: static;
    display: flex;
}

section.section-players figure picture{
    position: relative;
    z-index: 9;
    order: 2;
    min-width: 50%;
}

section.section-players figure picture img, section.section-players figure picture source{
    position: relative;
    z-index: 9;
    order: 2;
    top: -230px;
}


section.section-players figcaption {
    margin: 0;
    order: 1;
    min-width: 50%;
    position: static;
}

section.section-players figcaption ul{
    margin: 0;
    padding: 0;
    height: auto;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    position: absolute;
    list-style: none;
}

section.section-players figcaption li {
    position: relative;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: calc(50% - 757px);
}

section.section-players figcaption li:nth-child(2) {
    background-color: #f6f4fa;
    padding-top: 64px;
    padding-bottom: 64px;
}

section.section-players figcaption li:nth-child(3) {
    background-color: #0a0e34;
    padding-top: 91px;
    padding-bottom: 91px;
}

section.section-players figcaption li:nth-child(3) h3 span::before{
    background-color: #efefef;
}

section.section-players figcaption li:nth-child(3) p{
    color: #ffffff;
}

section.section-players figcaption li h3{
    position: relative;
    font-size: 2.25rem;
    line-height: 2.15rem;
    color: #c1c1c1;
    margin-bottom: 1.16rem;
    max-width: 620px;
}

section.section-players figcaption li h3 span{
    font-size: 1.125rem;
    color: #9173e6;
    margin-right: 13px;
    position: relative;
    bottom: 10px;
}

section.section-players figcaption li h3 span::before{
    position: absolute;
    background-color: #5e42b0;
    content: "";
    width: 100%;
    height: 5px;
    border-radius: 2px;
    bottom: -5px;
}

section.section-players figcaption li p{
    font-size: 1.25rem;
    margin: 0;
    max-width: 620px;
}


figure.mosaic-item {
    margin: 0;
    display: flex;
}

figure.mosaic-item picture{
    flex-basis: 50%;
    max-width: 50%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    position: relative;
}

figure.mosaic-item figcaption
{
    flex-basis: 50%;
    max-width: 50%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    position: relative;
}

figure.mosaic-item picture source,
figure.mosaic-item picture img
{
    max-width: 100%;
    object-fit: cover;
}

figure.mosaic-item figcaption{
    box-sizing: border-box;
}

figure.mosaic-item figcaption .wrapper{
    max-width: 765px;
}

section.section-mosaic h2{
    font-size: 5rem;
    color: #e7e7e7;
    line-height: 3.75rem;
    box-sizing: border-box;
    position: relative;
    padding-top: 0.625em;
    padding-bottom: 0.575em;
    margin-bottom: 0.875em;
    padding-left: 13.51%;
    max-width: 765px;
}

section.section-mosaic h2 .mosaic-order
{
    position: absolute;
    width: 168px;
    top: 0;
    left: -84px;
    display: flex;
    height: 154px;
    align-content: center;
    background-color: #5e42b0;
    justify-content: center;
}

section.section-mosaic h2 .mosaic-order .order-number
{
    align-self: center;
    color: #fff;
    font-size: 1.5rem;
    position: relative;
    font-weight: bold;
    line-height: 1.5rem;
}

section.section-mosaic h2 .mosaic-order .order-number::after
{
    position: absolute;
    background-color: #fff;
    content: "";
    width: 100%;
    height: 5px;
    left: 0;
    border-radius: 2px;
    bottom: -10px;
}

section.section-mosaic p
{
    padding-left: 13.51%;
    margin: 0;
    font-size: 1.5rem;
    max-width: 765px;
    box-sizing: border-box;
}


figure.mosaic-item.find-contact figcaption .wrapper{
    align-self: flex-end;
}

section.section-mosaic .find-contact h2{
    padding-right: 18.47%;
    padding-left: 0;

}

section.section-mosaic .find-contact p{
    padding-right: 18.47%;
    padding-left: 0;


}

.find-contact picture{
    order: 1;
}

.mosaic-item.find-contact .mosaic-order{
    left: unset;
    right: -84px;
}


footer.site-footer {
    background-color: #0a0e34;
    background-image: url(../images/footer-bg.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 226px;
}


.download-app{
    margin: 0;
    padding: 0;
    margin-bottom: 151px;
    display: flex;
}
.download-app figcaption{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.download-app h2{
    font-size: 5rem;
    color: #ffffff;
    line-height: 3.75rem;
    padding-bottom: 0.275em;

}
.download-app p{
    font-size: 1.875rem;
    line-height: 2.18rem;
    color: #a496ca;
    margin: 0;
    text-transform: uppercase;

}

.download-app picture{
    padding-right: 38px;
}

.footer-cta{
    display: flex;
    margin-bottom: 262px;
    justify-content: center;
}
.footer-logo{
    display: block;
    text-align: center;
}

.footer-bottom{
    margin-bottom: 51px;
}

@media (max-width: 640px) {

    .container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .header-cta {
        display: flex;
        flex-direction: column;
        margin-bottom: 26.25%;
    }

    .site-title {
        font-size: 1.75rem;
    }

    .site-title span {
        padding-left: 20.31%;
    }

    .btn {
        padding: 1em 4.35em;
        font-size: 0.5rem;
        min-width: 280px;
        text-align: center;
    }

    .btn + .btn {
        margin-left: 0;
        margin-top: 14px;
    }

    .apple-icon {
        background-position: 28.57% 50%;
        background-size: 22px 24px;
    }

    .gplay-icon {
        background-position: 28.57% 50%;
        background-size: 22px 24px;
    }

    section.section-athlets h2 {
        font-size: 3.125rem;
        color: #e7e7e7;
        line-height: 3.75rem;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 1.5rem;
        margin-bottom: 1.5rem;
    }

    section.section-athlets figure {
        margin: 0;
        display: flex;
        flex-direction: column;
    }

    section.section-athlets figure picture {
        z-index: 9;
        position: relative;
        top: 0;
        right: 0;
        align-self: center;
        margin-bottom: -55px;
    }

    section.section-athlets li {
        position: relative;
        padding-top: 60px;
        padding-bottom: 60px;
        padding-left: 20px;
    }

    section.section-athlets li:first-child {
        padding-top: 80px;
        background-color: #fafafa;
    }

    section.section-athlets li h3 {
        font-size: 1.75rem;
    }

    section.section-athlets li p {
        font-size: 0.9375rem;
    }

    section.section-athlets figcaption li:nth-child(2) {
        padding-top: 57px;
        padding-bottom: 55px;
    }

    section.section-athlets figcaption li:nth-child(3) {
        padding-top: 57px;
        padding-bottom: 37px;
    }

    section.section-players h2 {
        font-size: 3.125rem;
        color: #e7e7e7;
        line-height: 3.75rem;
        padding-left: 0;
        padding-right: 0;
        padding-top: 1.5rem;
        margin-bottom: 1.5rem;
    }

    section.section-players figure {
        flex-direction: column;
    }

    section.section-players figure picture {
        order: 1;
    }

    section.section-players figure figcaption {
        order: 2;
    }

    section.section-players figure picture img, section.section-players figure picture source {
        position: relative;
        z-index: 9;
        order: 2;
        top: unset;
    }

    section.section-players figcaption ul {
        position: relative;
    }

    section.section-players figure picture {
        z-index: 9;
        position: relative;
        top: 0;
        right: 0;
        align-self: center;
        margin-bottom: -55px;
    }

    section.section-players figcaption li {
        position: relative;
        padding-top: 60px;
        padding-bottom: 60px;
        padding-left: 20px;
    }

    section.section-players figcaption li:first-child {
        padding-top: 80px;
        background-color: #fafafa;
    }

    section.section-players figcaption li h3 {
        font-size: 1.75rem;
    }

    section.section-players figcaption li p {
        font-size: 0.9375rem;
    }

    section.section-players figcaption li:nth-child(2) {
        padding-top: 57px;
        padding-bottom: 55px;
    }

    section.section-players figcaption li:nth-child(3) {
        padding-top: 57px;
        padding-bottom: 37px;
    }


    figure.mosaic-item {
        flex-direction: column;
        padding-bottom: 4.6875rem;
    }

    figure.mosaic-item picture {
        flex-basis: 100%;
        max-width: 100%;
    }

    figure.mosaic-item figcaption
    {
        flex-basis: 100%;
        max-width: 100%;
        flex-direction: column;
        display: flex;
        justify-content: center;
        position: relative;
    }

    section.section-mosaic h2 {
        font-size: 1.75rem;
        padding-left: 4.55%;
        margin-bottom: 0;
        padding-top: 2.125rem;
        padding-bottom: 1.5rem;
        line-height: 2.125rem;
    }

    section.section-mosaic h2 .mosaic-order {
        left: unset;
        top: -58px;
        width: 70px;
        height: 70px;
    }

    section.section-mosaic p {
        padding-left: 4.55%;
        font-size: 1rem;
    }

    figure.mosaic-item.find-contact picture{
        order: 1;
    }

    figure.mosaic-item.find-contact figcaption{
        order: 1;
    }

    .mosaic-item.find-contact .mosaic-order {
        left: unset;
        right: unset;
    }

    section.section-mosaic .find-contact h2{
        font-size: 1.75rem;
        padding-left: 4.55%;
        margin-bottom: 0;
        padding-top: 2.125rem;
        padding-bottom: 1.5rem;
    }

    section.section-mosaic .find-contact p {
        padding-left: 4.55%;
        padding-right: 18.47%;
    }

    footer.site-footer {
        padding-top: 100px;
    }

    .download-app {
        text-align: center;
        flex-direction: column;
        margin-bottom: 72px;
    }

    .download-app h2 {
        font-size: 2rem;
        line-height: 1em;
    }

    .download-app p {
        font-size: 0.875rem;

    }

    .download-app picture {
        padding-right: 0;
        padding-bottom: 60px;
    }

    .download-app figcaption {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .footer-cta {
        margin-bottom: 85px;
        flex-direction: column;
    }

    .footer-bottom {
        text-align: center;
        margin-bottom: 0;
    }

}
@media (min-width: 641px) and (max-width: 960px) {

    .container{
        padding-left: 10px;
        padding-right: 10px;
    }

    .site-title{
        padding-top: 23.56%;
        padding-bottom: 40.625%;
        padding-left: 7.85%;
        padding-right: 7.85%;

        box-sizing: border-box;

        font-size: 4rem;
        color: #fff;
        width: 100%;
    }

    .site-title span{
        display: block;
        padding-left: 15%;
    }

    .header-cta {
        margin-bottom: 11.71%;
    }

    section.section-athlets figure picture {
        right: unset;
    }

    section.section-athlets h2 {
        padding-left: 37.76%;
        padding-top: 5.875rem;
    }

    section.section-athlets li {
        padding-left: 37.76%;
    }

    section.section-athlets figure picture {
        top: 5.875rem;
    }

    section.section-players {
        background-image: none;
    }

    section.section-players h2 {
        margin-bottom: 0;
        padding-left: 25px;
        padding-right: 25px;
        text-indent: -6px;
    }

    section.section-players figcaption {
        position: relative;
        min-width: 100%;
    }

    section.section-players figcaption ul {
        position: relative;

    }

    section.section-players figcaption li {
        padding-left: 35px;
        padding-right: 46.09%;
    }

    section.section-players figcaption li h3 {
        font-size: 2rem;
    }

    section.section-players figure picture {
        position: absolute;
        z-index: auto;
        order: 2;
        display: flex;
        top: 62px;
        justify-content: flex-end;
        min-width: 100%;
        right: 0;
    }

    section.section-players figure picture img, section.section-players figure picture source {
        position: relative;
        z-index: 9;
        order: 2;
        top: 0;
    }

    figure.mosaic-item {
        flex-direction: column;
        padding-bottom: 5.8125rem;
    }

    figure.mosaic-item picture {
        flex-basis: 100%;
        max-width: 100%;
    }

    figure.mosaic-item figcaption
    {
        flex-basis: 100%;
        max-width: 100%;
        flex-direction: column;
        display: flex;
        justify-content: center;
        position: relative;
    }

    section.section-mosaic h2 {
        padding-left: 4.55%;
        margin-bottom: 0;
        padding-top: 5.625rem;
        padding-bottom: 0.5em;
    }

    section.section-mosaic h2 .mosaic-order {
        left: unset;
        top: -80px;
        width: 115px;
        height: 115px;
    }

    section.section-mosaic p {
        padding-left: 4.55%;
    }

    figure.mosaic-item.find-contact picture{
        order: 1;
    }

    figure.mosaic-item.find-contact figcaption{
        order: 1;
    }

    .mosaic-item.find-contact .mosaic-order {
        left: unset;
        right: unset;
    }

    section.section-mosaic .find-contact h2{
        padding-right: 35px;
    }

    .download-app {
        text-align: center;
        flex-direction: column;
        margin-bottom: 288px;
    }

    .download-app picture {
        padding-right: 0;
        padding-bottom: 83px;
    }

    .download-app figcaption {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .footer-cta {
        margin-bottom: 55px;
    }

}